absl-py==0.7.0
astor==0.7.1
bleach==1.5.0
certifi==2018.11.29
decorator==4.3.2
gast==0.2.2
grpcio==1.19.0
html5lib==0.9999999
Markdown==3.0.1
networkx==2.2
numpy==1.16.2
protobuf==3.7.0
scipy==1.2.1
six==1.12.0
StrawberryFields==0.9.0
tensorboard==1.6.0
tensorflow==1.6.0
termcolor==1.1.0
Werkzeug==0.14.1
